.connection {
  @include wrapper;
  padding-top: 50px;
}

.connection__wrapper {
  border-top: 1px solid $light-brown2;
  padding-top: 30px;
}

.connection__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $light-brown2;
  font-family: "museo-slab-w01-100", serif;
  font-style: normal;
  font-weight: normal;
}

.connection__item {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  & span {
    line-height: 1em;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    display: block;
  }
}

.connection__title {
  line-height: 1em;
  text-align: center;
  font-size: 21px;
}

.connection__link {
  line-height: 1em;
  font-size: 14px;

  @include contacts-link;
}

.connection__icon {
  transition: 0.4s ease;
  width: 35px;
  height: 35px;
  fill: $light-brown2;
}

.connection__link:hover .connection__icon,
.connection__link:focus .connection__icon {
  fill: $dark-brown1;
}

.connection__link:active .connection__icon {
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .connection {
    padding-top: 50px;
  }

  .connection__list {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .connection__item {
    width: 33.3%;
    justify-content: flex-start;

    & span {
      font-size: 16px;
    }
  }

  .connection__title {
    font-size: 24px;
    vertical-align: baseline;
    letter-spacing: 0.1em;
  }

  .connection__link {
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .connection__icon {
    width: 20px;
    height: 20px;
  }
}
