.goods-image  {

  & img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
}

.goods-image__title {

  @include title;
   & span {
     text-transform: uppercase;
   }
}


.goods-image__price {
    font-size: 18px;
    line-height: 1.3em;
    font-family: "museo-slab-w01-100", serif;
    text-align: center;
    color: $light-brown2;
    margin-bottom: 20px;

  & span:first-of-type {
    text-decoration: line-through;
    opacity: 0.5;
    margin-right: 10px;
  }
}

.goods-image__btn {
  @include green-btn;
  border: none;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .goods-image  {
    width: 50%;
    margin-right: auto;
  }

  .goods-image__price {
    font-size: 20px;
  }
}
