.goods-desc__content {
  @include content;
  text-align: left;

  & span {
    text-transform: uppercase;
  }
}

.goods-desc__list {
  @include content;
  text-align: left;
  list-style: none;
}

.goods-desc__item {
  padding-left: 55px;
  position: relative;

  &:last-of-type {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid $light-brown2;
    border-radius: 50%;
    top: 10px;
    left: 25px;
  }
}

.goods-desc__content--remark {
  color: $dark-brown1;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .goods-desc {
    width: 45%;
  }
}
