.images-services__big {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  position: relative;
}

.images-services__big img {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-align: center;
}

.images-services__slogan {
  position: absolute;
  width: 131px;
  height: 128px;
  border-radius: 50%;
  background-color: $green;
  z-index: 1;
  left: 60%;
  top: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 0;
  align-items: center;

  & span:first-of-type {
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    font-family: "museo-slab-w01-100", serif;
    color: $light-brown2;
  }

  & span:nth-of-type(2) {
    font-size: 22px;
    font-family: "reklamescriptw00-medium", cursive;
    line-height: normal;
    letter-spacing: normal;
    color: $light-brown2;
  }
}

.images-services__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.images-services__item {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.images-services__item img {
  width: 55%;
  height: auto;
  object-fit: cover;
}

.images-services__item:nth-of-type(2) img {
  width: 50%;
  height: auto;
}
