.info-services__title {
  @include title;
}

.info-services__content {
  @include content;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.info-services__link {
  transition: 0.4s ease;
  display: block;
  width: 249px;
  background-color: $green;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
  text-align: center;
  cursor: pointer;
  font-size: 16.8px;
  font-weight: normal;
  line-height: 1.3em;
  font-family: "museo-slab-w01-100", serif;
  color: $light-brown2;
  padding: 20px 10px;

  &:hover,
  &:focus {
    background-color: $light-green;
  }
}


@media (min-width: $tablet-width) {
  .info-services {
    padding: 0 60px;
  }

  .info-services__title {
    font-size: 24px;
  }

  .info-services__content {
    font-size: 20px;
  }

  .info-services__link {
    width: 302px;
    font-size: 18px;
    padding: 25px 15px;
  }
}
