.info-services__title {
  @include title;
}

.info-services__content {
  @include content;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.info-services__link {
  @include green-btn;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .info-services {
    padding: 0 60px;
  }

  .info-services__link {
    width: 302px;
    font-size: 18px;
    padding: 25px 15px;
  }
}
