.info-story {
  margin-bottom: 20px;
}

.info-story__title {
  @include title;
  margin-top: 0;
}

.info-story__content {
  @include content;

  & span {
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .info-story {
    width: 505px;
    margin-bottom: 0;
  }
}
