.logo {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  font-family: "basic", sans-serif;
  color: $light-brown2;
  text-decoration: none;
  letter-spacing: normal;
  padding-bottom: 40px;
  padding-top: 60px;
  border-bottom: 1px solid $light-brown2;
  margin-bottom: 15px;
}

.logo[href]:hover,
.logo[href]:focus {
  color: $dark-brown1;
}

.logo[href]:active {
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .logo {
    border: none;
    font-size: 34px;
    padding-bottom: 50px;
    padding-top: 80px;
  }
}
