.logo {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  font-family: basic, sans-serif;
  color: $light-brown2;
  text-decoration: none;
  letter-spacing: normal;
}
