.pagination {
  display: none;
}

.pagination__link {
  @include nav-link;
}


@media (min-width: $tablet-width) {
.pagination {
  display: flex;
  list-style: none;
}

.pagination__item:last-of-type {
  position: relative;
   margin-left: 30px;

   ::before {
     content: "";
     position: absolute;
     height: 15px;
     border-left: 2px solid $light-brown2;
     top: 6px;
     left: -15px;
   }
  }

.pagination__item--not-available .pagination__link {
  color: $light-brown1;
}
}
