.pagination {
  display: none;
}

.pagination__link {
  @include nav-link;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination__icon {
  width: 16px;
  height: 16px;
  transition: 0.4s ease;
  fill: $light-brown2;

  &--back {
    margin-right: 5px;
  }

  &--forward {
    margin-left: 5px;
  }

}

.pagination__link[href]:hover .pagination__icon,
.pagination__link[href]:focus .pagination__icon {
  fill: $dark-brown1;
}

.pagination__link[href]:active .pagination__icon {
  opacity: 0.7;
}
.pagination__item--not-available .pagination__icon {
  fill: $light-brown1;
}

@media (min-width: $tablet-width) {
  .pagination {
    display: flex;
    list-style: none;
  }

  .pagination__item:last-of-type {
    position: relative;
    margin-left: 30px;

    ::before {
      content: "";
      position: absolute;
      height: 15px;
      border-left: 2px solid $light-brown2;
      top: 6px;
      left: -15px;
    }
  }

  .pagination__item--not-available .pagination__link {
    color: $light-brown1;
  }
}
