.site-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.site-list__item {
  display: block;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 65px;
  padding-right: 40px;
}

.site-list__link {
  @include nav-link;
}

.site-list__item--active .site-list__link {
  color: $dark-green;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    order: -1;
    justify-content: flex-start;
    width: 80%;
    flex-wrap: wrap;
  }

  .site-list__item {
    display: block;
    padding: 0;
    width: 20%;
    text-align: left;
    padding-right: 10px;
  }

  .site-list__item--active .site-list__link {
    color: $dark-brown2;
  }
}
