.user-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 3;
}

.user-list__item {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: normal;
  margin-bottom: 20px;
}

.user-list__link {
  position: relative;
  @include nav-link;
  padding-left: 40px;
}

.user-list__icon {
  position: absolute;
  top: -5px;
    left: 0;
  width: 26px;
  height: 26px;
  transition: 0.4s ease;
  fill: $light-brown2;
}

.user-list__link:hover  .user-list__icon,
.user-list__link:focus  .user-list__icon {
  fill: $light-brown1;
}

.user-list__link:active  .user-list__icon{
  opacity: 0.7;
}

.user-list__select {
  width: 82px;
  height: 24px;
  font-size: 16px;
  background-color: $light-brown1;
  color: $light-brown2;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3em;
  font-family: "museo-slab-w01-100", serif;
  border: 1px solid $light-brown2;
  transition: 0.4s ease;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $brown;
    outline: none;
  }

  &:active {
    background-color: $dark-brown1;
    outline: none;
  }
}



@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row;
    width: 15%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .user-list__item {
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 40px;
  }

  .user-list__link {
    padding: 0;
    padding-left: 40px;
  }

  .user-list__icon {
    top: -5px;
    left: 8px;
  }

  .user-list__select {
    position: absolute;
    margin: 0;
    top: 15px;
    right: 75px;
    width: 87px;
    height: 28px;

    &:hover,
    &:focus {
      background-color: $dark-brown1;
    }

    &:active {
      background-color: $brown;
      outline: none;
    }
  }

  .user-list__link:hover  .user-list__icon,
.user-list__link:focus  .user-list__icon {
  fill: $dark-brown1;
}

.user-list__link:active  .user-list__icon{
  opacity: 0.7;
}
}
