$light-brown1: rgb(209, 190, 169); //body-wrapper, lang-button
$light-brown2: rgb(253, 246, 240); //lang-button-text-color, logo-color #FDF6F0
$light-brown3: rgb(233, 219, 203); //lang-button:hover_text-color
$brown: rgb(180, 155, 127); //main-color
$dark-brown1: rgb(105, 83, 58); //lang-button:hover bg-color, basket-text color #69533A;
$grey: rgb(149, 149, 149); //lang-button:hover-border
$dark-green: rgb(165, 175, 99); //current-lint text color
$green: rgb(137, 150, 51); //button index-psge
$mobile-width-only: 767px;
$tablet-width: 768px;

